* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb;
}

header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0,153,84,0.77);
    z-index: 100;
}

header h2 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: #ffffff
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    margin-top: 100px;
}

.header-info {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 20px;
    position: relative;
    z-index: 50;
}

.header-info h2 {
    width: 300px;
    position: relative;
    top: 10px;
}

.header-info ul li {
    position: relative;
    z-index: 1;
}

.header-info-div{
    width: 800px;
    height: 100px;
    position: relative;
    z-index: 40;
}

.left-header-info {
    width: 800px;
    font-size: 25px;
    position: relative;
    top: 30px;
    border-top: 2px solid white;
    padding-top: 7px;
    z-index: 30;
}

.left-header-info ul{
    position: relative;
    z-index: 20px;
}

.right-header-info {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    bottom: 40px;
    float: right;
    margin-right: 100px

}

.right-header-info p {
    font-size: 20px;
    position: relative;
}

.right-header-info ul li img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    margin: 0 5px
}

.main-page-opening-image{
    width: 100%;
    height: 600px;
    background-image: url("../images/emma-simpson-mNGaaLeWEp0-unsplash.jpg");
    background-size: cover;
    background-position: -10%;
    position: relative;
    z-index: -3;
}

.opening-image-text-div{
    width: 1000px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.671);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.opening-image-text-div h2{
    max-width: 60%;
    font-size: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 25px auto 0 auto;
}

.opening-image-text-div p{
    font-size: 25px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 45px;
    border-top: 2px solid white;
    width: fit-content;
    margin: 25px auto;
    padding-top: 25px
}

.about-cont{
    padding: 25px 0;
    background-color: rgba(0,153,84,0.77);
    background-color: #ebebeb;
    height: fit-content;
}

.about-header{
    width: 1100px;
    height: 500px;
    background-color: white;
    margin: 25px auto;
    display: flex;
}


.about-img-card{
    height: 325px;
    width: 210px;
    margin: 50px 0px 50px 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.about-img-card img{
    height: 350px;
    width: 220px;
    border: 5px solid rgb(65, 65, 65);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
}

.about-img-card img:hover{
    cursor: pointer;
    filter: grayscale(1);
}

.about-img-card p{
    background-color: rgb(65, 65, 65);
    padding: 8px 0 10px 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 220px;
    font-size: 20px;
    
}

.about-header-text{
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 10px 0;
}

.about-header-text h3{
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0,153,84,0.77);
}

.about-header-text p{
    margin: 25px 0;
    font-size: 20px;
    font-family: sans-serif;
}

.questions-cont{
    width: 100%;
    margin: 70px auto;
}

.why-chiro{
    text-align: center;
}

.why-chiro h3{
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0,153,84,0.77)
}

.why-chiro h5{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: rgb(109, 109, 109);
    position: relative;
    margin-top: 10px
}

.why-chiro h5::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    bottom: -20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
    border-bottom: 2px solid rgba(0,153,84,0.77);
}

.questions1{
    position: relative;
}

.questions-main{
    width: 1000px;
    margin: auto;
    margin-top: 75px;
}

.questions1 h5{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.questions1 p{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    margin: 15px 0;
}

.questions2{
    margin-top: 65px;
    margin-bottom: 50px;
    position: relative;
}

.questions2::before{
    content: "";
    width: 500px;
    position: absolute;
    left: 25%;
    bottom: -30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%,);
    border-bottom: 2px solid gray;

}

.questions2 h5{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.questions2 p{
   font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    margin: 15px 0; 
}

.benefits-div{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.benefits-card{
    width: 300px;
    height: 300px;
    padding: 25px;
    margin: 15px 15px;
    background-color: white;
    border-bottom: 5px solid rgba(0,153,84,0.77);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.benefits-card:hover{
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.05);
}

.benefits-card h6{
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color:rgba(0,153,84,0.77)
}

.benefits-card p{
    font-size: 17px;
    margin-top: 10px;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}

.life-back-image{
    width: 100%;
    height: 400px;
    background-image: url("../images/babumon-pt-loHC7omTI0I-unsplash.jpg");
    background-size: cover;
    background-position: -10%;
    margin-bottom: 100px;
    position: relative;
}

.life-back-image h3{
    font-size: 50px;
    width: max-content;
    font-family: "Open Sans", sans-serif;
    color: white;
    position: absolute;
    left: 50%;
    top: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    filter: brightness(1);
}

.life-back-image p{
    font-size: 25px;
    color: white;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.life-back-image a{
    width: 275px;
    height: 55px;
    font-size: 35px;
    color: white;
    padding: 0 25px;
    font-family: "Open Sans", sans-serif;
    background-color: rgba(0,153,84,0.77);
    position: absolute;
    left: 50%;
    top: 65%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.life-back-image a div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.life-back-image img{
    width: 40px;
    height: 40px;
    filter: invert(1);
    margin-top: 7px;
}

.life-back-image h6{
    font-size: 30px;
    margin-top: 3px
}

.life-back-image a:hover{
    cursor: pointer;
    background-color: rgb(44, 44, 44);
}

.service-images-header{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: rgba(0,153,84,0.77);
    text-align: center;
}

.service-images-header2{
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: rgb(88, 88, 88);
    margin-top: 10px;
    margin-bottom: 50px;
}

.service-images-cont{
    width: 1200px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-image{
    position: relative;
}

.service-image div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
}

.service-image1{
    width: 1200px;
    height: 300px;
    background-image: url("../images/back-pain-6949392.jpg");
    background-size: cover;
    background-position: -10%;
}

.service-image2{
    width: 590px;
    height: 300px;
    background-image: url("../images/pexels-picas-joe-11352535.jpg");
    background-size: cover;
    margin: 20px 0;
}

.service-image3{
    width: 590px;
    height: 300px;
    background-image: url("../images/pexels-cottonbro-studio-3997989.jpg");
    background-size: cover;
    background-position: -10%;
    margin: 20px 0;
}

.service-image4{
    width: 1200px;
    height: 300px;
    background-image: url("../images/michael-jin-ipHlSSaC3vk-unsplash.jpg");
    background-size: cover;
    background-position: -10%;
}

.service-title{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    color: white;
    width: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.service-prompt{
    color: white;
    width: max-content;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.service-image:hover{
    cursor: pointer;
}

.service-image:hover .service-prompt{
    top: 65%;
    opacity: 100%;
}

.service-image1:hover .service-title::before, 
.service-image4:hover .service-title::before{
    animation: serviceBorder1 .3s;
    content: "";
    width: 1140px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

.service-image2:hover .service-title::before,
.service-image3:hover .service-title::before{
    animation: serviceBorder2 .3s;
    content: "";
    width: 530px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid white;
}

@keyframes serviceBorder1{
    0%{content: "";
        width: 110%;
        height: 110%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 2px solid white;}
    100%{content: "";
        width: 1140px;
        height: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 2px solid white;}
}

@keyframes serviceBorder2{
    0%{
        opacity: 0%;
        content: "";
        width: 110%;
        height: 110%;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 2px solid white;}
    100%{
        opacity: 100%;
        content: "";
        width: 530px;
        height: 240px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border: 2px solid white;}
}

.googlemap {
    margin: 100px auto 0 auto;
    width: 100%;
    height: 500px;
    position: relative;
}

.googlemap iframe{
    width: 100%;
    height: 100%;
}

.location-box{
    width: 450px;
    height: 425px;
    background-color: rgb(0, 153, 84);
    position: absolute;
    top: 0;
    left: 17%;
    color: white;
    border-bottom: 8px solid rgb(0, 122, 67);
}

.location-box h2{
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    margin: 35px 0 80px 35px
}

.location-box h5{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    margin: 25px 0 0 35px
}

.location-box p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-left: 35px;
    margin-top: 5px;
}

.location-box h6{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-left: 35px;
    margin-top:15px;
    font-weight: lighter;
}

.op-hours{
    width: 100%;
    height: 250px;
    /* height: max-content; */
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.op-hours h2{
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    margin: 28px;
}

.op-hours-div{
    display: flex;
    justify-content: center;
    width: 100%;
}

.op-hours-div div{
    width: 200px;
    padding: 25px 0;
    border-right: 2px solid rgb(0, 153, 84);
    text-align: center;
}

.op-hours div:first-child{
    border-left: 2px solid rgb(0, 153, 84);
}

.op-hours h4{
    font-family: "Montserrat", sans-serif;
}

.op-hours p{
    font-family: "Open Sans", sans-serif;
}

.landing-contact-button{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 153, 84);
    position: relative;
}

.landing-contact-button a:hover{
    cursor: pointer;
    background-color: rgb(241, 241, 241);
}

.landing-contact-button a{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    height: 65px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 136, 75)
}

footer{
    width: 100%;
    height: 100px;
    text-align: center;
}

footer div{
    text-align: center;
    width: 100%;
    height: max-content;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    color:rgb(70, 70, 70);
    font-weight: lighter;
}

footer img{
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
}

footer h5{
    position: relative;
    top: 15px;
}

footer h5::before{
    content: "";
    width: 200px;
    position: absolute;
    left: 50%;
    top: -40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-bottom: 1px solid grey
}

footer p {
    width: 100%;
    background-color: rgb(0, 129, 71);
    height: 50px;
    padding-top: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin-top: 35px;
    color: white
}

.services-toggle{
    padding: 15px 0;
}

.dropdown {
    position: relative;

}

.services-toggle{
    position: relative;
    z-index: 1;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    /* display: none; */
    z-index: -1;
    height: 0px;
    background-color: grey;
}

.sub-menu{
    position: relative;
    right: 83px;
    top: 11px;
    width: 275px;
    height: 0px;
    overflow-y: hidden;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

.sub-menu-ul{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin-top: -460px;
    height: max-content;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}


.sub-menu li {
    width: 275px;
    padding: 15px;
    background-color: rgb(44, 44, 44);
    border-bottom: 1px solid white;
    text-align: center ;
}

.sub-menu li:hover{
    cursor: pointer;
    background-color: rgb(63, 63, 63);
}


.sub-menu ul li:last-child{
    border-bottom: none;
}

.services-toggle:hover ~ .dropdown .sub-menu{
    height: 456px;
}

.services-toggle:hover ~ .dropdown .sub-menu-ul{
    margin-top: 0;
}

.sub-menu-ul:hover{
    margin-top: 0;
}

.sub-menu:hover{
    height: 456px;
}


.drop-menu-item{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.drop-menu-item ul{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0;
    height: 0;
    position: relative;
    left: 200px;
}

.drop-menu-item:hover ul li{
    height: auto;
    width: 250px;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 25px;
}

/* .body-chart{
    width: 100%;
    height: 800px;
    background-image: url("../images/xray-body.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.body-chart-cont{
    width: 100%;
    height: 100%;   
}

.body-tab{
    width: 80%;
    margin: auto;
    position: relative;
}

.body-tab h3{
    width: 350px;
    background-color: rgba(0, 153, 84, 0.753);
    text-align: center;
    padding: 15px 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.chart-line{
    border-bottom: 1px solid rgb(0, 153, 84);
    position: absolute;
    bottom: 28px
}

.chart-dot{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 153, 84);
    border-radius: 100%;
    position: absolute;
    bottom: 24px;
}

.body-tab1{
    position: relative;
    top: 200px
}

.body-tab1 .chart-line{
    width: 41%;
    margin-left: 350px
}

.body-tab1 .chart-dot{
    position: absolute;
}

.body-tab2{
    position: relative;
    top: 300px
}

.body-tab3{
    position: relative;
    top: 350px
}

.body-tab4{
    position: relative;
    top: 500px
} */

.services-text-info{
    width: 100%;
    margin-top: 150px;
}

.services-text-info h1{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.services-text-info p{
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    color: rgb(95, 95, 95);
    text-align: center;
}

.large-services-cont{
    display: flex;
    flex-direction: column;
}

.large-service-div{
    width: 70%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.large-service-bg{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.large-service-shadow-div{
    width: 60%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.664);
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.large-service-shadow-div h2{
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    position: relative;
    top: 15px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.large-service-shadow-div p{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 15px;
    position: relative;
    bottom: 35px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.large-service-div:hover .large-service-shadow-div h2{
    top: 0;
}

.large-service-div:hover .large-service-shadow-div p{
    bottom: 0;
    opacity: 1;
}

.large-service-bg:hover{
    cursor: pointer;
}

.large-service-div:hover .large-service-shadow-div{
    width: 100%;
    height: 100%;
}

.large-service-bg::before{
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid white; 
    opacity: 0;
    z-index: 2;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.large-service-div:hover .large-service-bg::before{
    opacity: 1;
    width: 90%;
    height: 90%;
}

.large-service-text{
    overflow: hidden;
    padding: 20px;
    position: relative;
    bottom: 1100px;
    max-height: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: -1;
    background-color: rgb(230, 230, 230);
}

.large-service-text h3{
    margin-top: 50px;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color:rgb(0, 153, 84)
}

.large-service-text p{
    font-size: 22px;
    font-family: "Open sans", sans-serif;
    margin-top: 15px;
}

.service-extend{
    max-height: 1000px;
    bottom: 0;
}

#testimonies{
    margin-top: 100px;
}

#contact {
    margin-top: 100px;
}

.main{
    margin-top: 100px;
}

