* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #426449;
}

header h2 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: #ffffff
}

header ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

header a {
    text-decoration: none;
    color: white;
}

main {
    margin-top: 100px;
}

.header-info {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 20px;
}

.header-info h2 {
    width: 300px;
    position: relative;
    top: 10px;
}

.header-info-div{
    width: 800px;
    height: 100px;
}

.left-header-info {
    width: 800px;
    font-size: 25px;
    position: relative;
    top: 30px;
    border-top: 1px solid grey;
    padding-top: 7px;
}

.right-header-info {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    bottom: 40px;
    float: right;
    margin-right: 100px

}

.right-header-info p {
    font-size: 20px;
    position: relative;
}

.right-header-info ul li img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    margin: 0 5px
}

.main-page-opening-image{
    width: 100%;
    height: 600px;
    background-image: url("../images/emma-simpson-mNGaaLeWEp0-unsplash.jpg");
    background-size: cover;
    background-position: -10%;
    position: relative;
    z-index: -1;
}

.opening-image-text-div{
    width: 1000px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.671);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.opening-image-text-div h2{
    max-width: 60%;
    font-size: 50px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin: 25px auto 0 auto;
}

.opening-image-text-div p{
    font-size: 25px;
    color: white;
    font-family: "Montserrat", sans-serif;
    margin-top: 45px;
    border-top: 2px solid white;
    width: fit-content;
    margin: 25px auto;
    padding-top: 25px
}

.about-cont{
    padding: 25px 0;
    background-color: #426449;
    background-color: #ebebeb;
    height: fit-content;
}

.about-header{
    width: 1100px;
    height: 500px;
    background-color: white;
    margin: 25px auto;
    display: flex;
}


.about-img-card{
    height: 325px;
    width: 210px;
    margin: 50px 0px 50px 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.about-img-card img{
    height: 350px;
    width: 220px;
    border: 5px solid rgb(65, 65, 65);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    
}

.about-img-card img:hover{
    cursor: pointer;
    filter: grayscale(1);
}

.about-img-card p{
    background-color: rgb(65, 65, 65);
    padding: 8px 0 10px 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 220px;
    font-size: 20px;
    
}

.about-header-text{
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 10px 0;
}

.about-header-text h3{
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: #426449;
}

.about-header-text p{
    margin: 25px 0;
    font-size: 20px;
    font-family: sans-serif;
}

.questions-cont{
    width: 100%;
    margin: 70px auto;
}

.why-chiro{
    text-align: center;
}

.why-chiro h3{
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    color: #426449
}

.why-chiro h5{
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: rgb(109, 109, 109);
    position: relative;
    margin-top: 10px
}

.why-chiro h5::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    bottom: -20px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 150px;
    border-bottom: 2px solid #426449;
}

.questions1{
    position: relative;
}

.questions-main{
    width: 1000px;
    margin: auto;
    margin-top: 75px;
}

.questions1 h5{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.questions1 p{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    margin: 15px 0;
}

.questions2{
    margin-top: 65px;
    margin-bottom: 50px;
    position: relative;
}

.questions2::before{
    content: "";
    width: 500px;
    position: absolute;
    left: 25%;
    bottom: -30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%,);
    border-bottom: 2px solid gray;

}

.questions2 h5{
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
}

.questions2 p{
   font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    margin: 15px 0; 
}

.benefits-div{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.benefits-card{
    width: 300px;
    height: 300px;
    padding: 25px;
    margin: 15px 15px;
    background-color: white;
    border-bottom: 5px solid #426449;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.benefits-card:hover{
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: scale(1.05);
}

.benefits-card h6{
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    color:#426449
}

.benefits-card p{
    font-size: 17px;
    margin-top: 10px;
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif;
}

.life-back-image{
    width: 100%;
    height: 400px;
    background-image: url("../images/babumon-pt-loHC7omTI0I-unsplash.jpg");
    background-size: cover;
    background-position: -10%;
    margin-bottom: 100px;
}

.googlemap {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    width: 150px;
    padding: 10px;
}

.dropdown:hover .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
}

.sub-menu li {
    width: 150px;
    padding: 10px;
}

.dropdown:hover .sub-menu {
    display: block;
    top: 0;
    left: 100%;
    margin-left: 10px;
}

#testimonies{
    margin-top: 100px;
}

#contact {
    margin-top: 100px;
}

.main{
    margin-top: 100px;
}